.gradle/
bin/
build/classes/
build/sources/
build/tmp/
eclipse/.metadata/
build/.*
gradle/
gradlew
eclipse/RemoteSystemsTempFiles/
.settings/
gradlew.bat
build/natives/
eclipse/logs/
eclipse/crash-reports/
eclipse/saves/
eclipse/screenshots/
build/resources/
eclipse/config/
eclipse/mods/
eclipse/options.txt
