bin/*
eclipse/*
gradle/*
gradlew
src/main/resources/assets/miragecrops/textures/blocks/crop/*
src/main/resources/assets/mae/*
*/~$*
build/unpacked/*
build/tmp
build/sources
build/resources
build/classes
build/natives
build/.gitignore
runtime-Eclipse*
syntax: regexp
^[^/]*\.
